apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: cpms
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      initContainers:
        - name: wait-for-mongo
          image: busybox
          command: ['sh', '-c', 'until nc -z mongo-0.mongo.cpms.svc.cluster.local 27017; do echo waiting for mongo; sleep 2; done']
      containers:
        - name: backend
          image: moinnaik/cpms-backend:1.0
          ports:
            - containerPort: 4518
          envFrom:
            - configMapRef:
                name: backend-config
            - secretRef:
                name: backend-secret
          livenessProbe:
            httpGet:
              path: /api/
              port: 30080

