apiVersion: v1
kind: LimitRange
metadata:
  name: container-limits
  namespace: cpms
spec:
  limits:
  - default:
      cpu: 1
      memory: 512Mi
    defaultRequest:
      cpu: 200m
      memory: 256Mi
    type: Container

